:root {
  --background-color: #fff;
  --text-color: #000000;
}
body {
  background-color: var(--background-color);
  color: var(--text-color);

  font-family:sans-serif;
  top:0;
}
[data-theme="dark"] {
  --background-color: #23272a;
  --text-color: #fff;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#about{
  width:70%;
  margin:auto;
}
#nav-var  {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color:#08033d;
  color:white;
 

}
.linkNav {
  float:left;
  padding:5px;
 


}
.linkNav {
height: 40px;
}
.linkNav:hover{
  background-color:rgb(19, 19, 19);
  
}


button {
  background-color: #7289da; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}
button:hover{
  color:#7289da; 
  background-color:#000000;

}